Drf/__pycache__
Drf/migrations
messenger/__pycache__
User/__pycache__
User/migrations
UserGroups/__pycache__
UserGroups/migrations
UserMessages/__pycache__
UserMessages/migrations
db.sqlite3
Gallery/__pycache__
Gallery/migrations/